<robot name="block">
  <link name="block">
    <inertial>
      <origin xyz="0.0 0.0 0.025" />
      <mass value="0.001" />
      <inertia  ixx="0.001" ixy="0.0"  ixz="0.0"  iyy="0.001"  iyz="0.0"  izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.025"/>
      <geometry>
        <box size="0.1 0.1 0.05" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.025"/>
      <geometry>
        <box size="0.1 0.1 0.05" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="block">
    <material>Gazebo/Red</material>
     <mu1>10</mu1>
     <mu2>10</mu2>
     <minDepth>0.003</minDepth>
    <maxVel>0</maxVel>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
</robot>